@import '../../styles/commonStyles';

.pagination {
    display: flex;
    @include mobile() {
        display: none;
    }
}
.pagination__wrap {
    display: flex;
    gap: 4.4rem;
    margin: 0 auto;
    padding-bottom: 10rem;
}

.pagination__page {
    font-size: 1.6rem;
    cursor: pointer;
}

.pagination__page_active {
    color: #E1242D;
}