@import '../../styles/commonStyles';

.pagination {
    display: flex;
    @include breakpoint($mobile) {
        display: none;
    }
}
.pagination__wrap {
    display: flex;
    margin: 0 auto;
    padding-bottom: 10rem;
}

.pagination__page {
    font-size: 1.6rem;
    cursor: pointer;

    &:not(:last-child) {
        margin-right: 4.4rem;
    }
}

.pagination__page_active {
    color: #E1242D;
}