@import '../../styles/commonStyles';

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "login ."
        "email ."
        "password button";
    gap: 2rem 2.6rem;

    @include smallTablet() {
        grid-template-columns: 1fr;
        grid-template-areas:
            "login"
            "email"
            "password"
            "button";
        gap: 1rem;
    }
}

.form__container {
    padding: 4.8rem 2.7rem 2.7rem 2.7rem;
    border: 1px solid $main;
    border-radius: 2rem;

    @include smallTablet() {
        padding: 2.8rem 1.7rem 1.7rem 1.7rem;
    }
}

.form__title {
    font-size: 2.4rem;
    margin-bottom: 3.2rem;

    @include smallTablet() {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
}

.form__button-wrap {
    grid-area: button;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__button {
    color: black;
    background: $main;
    width: 100%;
    height: 6rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 10rem;
    margin-top: 7%;
    outline: none;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        background: grey;
    }

    @include smallTablet() {
        margin-top: 0;
    }
}

.form__login {
    grid-area: login;
}

.form__email {
    grid-area: email;
}

.form__password {
    grid-area: password;
}

.form__label-content {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__input {
    border-radius: 10rem;
    margin: 1rem 0;
    padding: 1.7rem 3rem;
    background: none;
    border: 1px solid $main;
    font-size: 1.6rem;
    color: $main;
}

.form__input_error {
    border: 1px solid $error;
}

.form__error {
    margin-top: 1rem;
    color: $error;
    font-size: 1.6rem;
}