@import '../../styles/commonStyles';

.search {
    border: 1px solid white;
    border-radius: 100px;
    @include breakpoint($smallTablet) {
        display: none;
    }
    &__form {
        display: grid;
        grid-template-columns: 2fr 8fr;
        padding: 1.5rem;
        @include breakpoint($tablet) {
            padding: 1rem;
        }
    }


    &__input {
        background: none;
        border: none;
        font-size: 1.6rem;
        color: $main;

        &:focus {
            outline: none;
        }
    }

    &__button {
        background: none;
        outline: none;
        border: none;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
}