@import '../../styles/commonStyles';

.news__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem 4rem;
    padding-bottom: 8rem;

    @include breakpoint($smallDesk) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include breakpoint($tablet) {
        grid-template-columns: 1fr 1fr;
    }

    @include breakpoint($smallTablet) {
        grid-template-columns: 1fr;
    }

    @include breakpoint($mobile) {
        gap: 1.5rem;
    }
}

.news__header_desktop {
    display: block;
    margin-bottom: 4rem;

    @include breakpoint($mobile) {
        display: none;
    }
}

.news__header_mobile {
    display: none;

    @include breakpoint($mobile) {
        display: block;
        margin-bottom: 2rem;
    }

}

.news__header-top {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.news__header-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: 1px solid $main;
    
    &:hover {
        cursor: pointer;
    }
}

.news__header-arrow-svg {
    width: 1rem;
    height: 1.6rem;
}