@import '../../styles/commonStyles';

.news {
    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 4rem;
        row-gap: 2rem;
        padding-bottom: 8rem;

        @include breakpoint($smallDesk) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include breakpoint($tablet) {
            grid-template-columns: 1fr 1fr;
        }

        @include breakpoint($smallTablet) {
            grid-template-columns: 1fr;
        }

        @include breakpoint($mobile) {
            row-gap: 1.5rem;
        }
    }


    &__header {
        &_desktop {
            display: block;
            margin-bottom: 4rem;

            @include breakpoint($mobile) {
                display: none;
            }
        }

        &_mobile {
            display: none;

            @include breakpoint($mobile) {
                display: block;
                margin-bottom: 2rem;
            }

        }

    }

    &__headerTop {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    &__headerArrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        border: 1px solid $main;
        margin-right: 2rem;

        &:hover {
            cursor: pointer;
        }


    }

    &__headerArrowSvg {
        width: 1rem;
        height: 1.6rem;
    }
}