@import '../../styles/commonStyles';

.register {
    &__title {
        padding: 5rem 0 4.8rem 0;
        @include breakpoint($smallTablet) {
            padding: 3.5rem 0 3rem 0;
        }
    }
    &__wrap {
        display: flex;
        justify-content: center;
    }
    
}